.dtdfs { 
  margin-top: 97px;
  padding-top: 23px;
  font-size: 79px;
  border-bottom-width: 54px;
  padding-bottom: 35px;
  line-height: 79px;
  padding-bottom: 81px;
  padding-top: 90px;
  margin-bottom: 11px;
  border-left-width: 51px;
  margin-bottom: 80px;
  border-left-width: 29px;
  line-height: 40px;
  margin-bottom: 75px;
  padding-top: 6px;
  border-right-width: 3px;
  margin-left: 91px;
  padding-left: 64px;
  border-bottom-width: 54px;
  padding-right: 84px;
  line-height: 70px;
  padding-left: 70px;
  margin-bottom: 61px;
  padding-bottom: 15px;
  padding-right: 86px;
  margin-bottom: 88px;
  padding-left: 67px;
  border-left-width: 14px;
  margin-right: 32px;
  padding-right: 97px;
  margin-bottom: 77px;
  margin-bottom: 20px;
  margin-bottom: 30px;
  font-size: 21px;
  font-size: 40px;
  padding-left: 50px;
  padding-bottom: 61px;
  margin-bottom: 7px;
  margin-bottom: 44px;
  border-bottom-width: 65px;
  padding-right: 55px;
  margin-left: 55px;
  border-bottom-width: 66px;
  border-bottom-width: 96px;
  border-bottom-width: 59px;
  padding-left: 80px;
  padding-right: 98px;
  margin-right: 29px;
  padding-right: 83px;
  padding-left: 42px;
  margin-top: 51px;
  padding-top: 60px;
  padding-bottom: 57px;
  border-left-width: 9px;
  margin-left: 91px;
  border-top-width: 73px;
  margin-left: 88px;
  line-height: 4px;
  padding-right: 60px;
  margin-right: 57px;
  font-size: 70px;
  border-top-width: 55px;
}
