.fjnsa { 
  border-top-width: 51px;
  font-size: 75px;
  border-left-width: 64px;
  padding-right: 44px;
  padding-top: 45px;
  margin-right: 5px;
  padding-left: 42px;
  margin-left: 82px;
  margin-bottom: 0px;
  margin-top: 7px;
  margin-left: 4px;
  border-bottom-width: 65px;
  line-height: 24px;
  padding-top: 93px;
  font-size: 45px;
  border-right-width: 60px;
  margin-right: 11px;
  border-bottom-width: 79px;
  padding-right: 72px;
  font-size: 1px;
  margin-top: 35px;
  padding-left: 71px;
  border-top-width: 22px;
  margin-top: 3px;
  margin-right: 70px;
  padding-left: 58px;
  margin-right: 76px;
  margin-bottom: 93px;
  padding-bottom: 87px;
  border-top-width: 99px;
  line-height: 4px;
  border-right-width: 85px;
  margin-top: 22px;
  border-right-width: 35px;
  border-bottom-width: 18px;
  font-size: 47px;
  margin-bottom: 51px;
  margin-bottom: 52px;
  padding-bottom: 58px;
  padding-top: 25px;
  margin-top: 32px;
  margin-right: 10px;
  padding-top: 25px;
  padding-top: 40px;
  padding-bottom: 53px;
  padding-top: 32px;
  border-left-width: 41px;
  line-height: 50px;
  padding-bottom: 8px;
  margin-bottom: 80px;
  margin-left: 81px;
  margin-right: 95px;
  margin-top: 41px;
  border-left-width: 67px;
  padding-left: 91px;
  padding-top: 19px;
  margin-top: 79px;
  padding-right: 91px;
  padding-left: 96px;
  margin-left: 87px;
  border-left-width: 23px;
  line-height: 18px;
  font-size: 93px;
  font-size: 11px;
  padding-bottom: 14px;
  margin-bottom: 73px;
  padding-right: 42px;
  line-height: 12px;
  border-left-width: 3px;
  font-size: 96px;
  margin-top: 28px;
  border-top-width: 36px;
  padding-top: 35px;
  border-right-width: 26px;
  margin-right: 60px;
  font-size: 84px;
}
