.dtdfs { 
  margin-top: 97px;
  padding-top: 23px;
  font-size: 79px;
  border-bottom-width: 54px;
  padding-bottom: 35px;
  line-height: 79px;
  padding-bottom: 81px;
  padding-top: 90px;
  margin-bottom: 11px;
  border-left-width: 51px;
  margin-bottom: 80px;
  border-left-width: 29px;
  line-height: 40px;
  margin-bottom: 75px;
  padding-top: 6px;
  border-left-width: 1px;
  line-height: 9px;
  font-size: 82px;
  line-height: 21px;
  border-bottom-width: 99px;
  border-top-width: 4px;
  padding-top: 27px;
  margin-bottom: 71px;
  font-size: 92px;
}
